nav{
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 15px 20px;
}
main {
    margin: 15px;
}
.search {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
input {
    flex-grow: 1;
    font-size: 20px;
}
#search-btn {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
}
.sort-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 20px;
}
.sort-cont > button {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 5px;
    cursor: pointer;
    flex-grow: 1;
}
table {
    width: 100%;
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    /* height: calc(100vh - 220px); */
    overflow-y: auto;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
}
tbody tr {
    height: 50px;
}
#name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#name > img {
    width: 30px;
    border: solid black 1px;
    border-radius: 15px;
    margin-right: 10px;
}

